<?xml version="1.0" encoding="UTF-8"?>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  ~
  ~    Copyright (c) 2022 - 2023.
  ~    Haixing Hu, Qubit Co. Ltd.
  ~
  ~    All rights reserved.
  ~
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ltd.qubit.commons.dao.testbed.mapper.CityMapper">

  <resultMap id="CityResultMap" type="ltd.qubit.model.contact.City">
    <id property="id"                   column="id"/>
    <result property="code"             column="code"/>
    <result property="name"             column="name"/>
    <result property="phoneArea"        column="phone_area"/>
    <result property="postalcode"       column="postalcode"/>
    <result property="level"            column="level"/>
    <result property="icon"             column="icon"/>
    <result property="url"              column="url"/>
    <result property="description"      column="description"/>
    <result property="predefined"       column="predefined"/>
    <result property="createTime"       column="create_time"/>
    <result property="modifyTime"       column="modify_time"/>
    <result property="deleteTime"       column="delete_time"/>
    <association property="province"
      javaType="ltd.qubit.commons.model.Info"
      resultMap="ltd.qubit.commons.dao.mapper.InfoResultMap"
      columnPrefix="province_"/>
    <association property="location"
      javaType="ltd.qubit.model.contact.Location"
      resultMap="ltd.qubit.commons.dao.mapper.LocationResultMap"
      columnPrefix="location_"/>
  </resultMap>

  <sql id="selectCity">
    SELECT  c.`id`                AS `id`,
            c.`code`              AS `code`,
            c.`name`              AS `name`,
            p.`id`                AS `province_id`,
            p.`code`              AS `province_code`,
            p.`name`              AS `province_name`,
            p.`delete_time`       AS `province_delete_time`,
            c.`phone_area`        AS `phone_area`,
            c.`postalcode`        AS `postalcode`,
            c.`level`             AS `level`,
            c.`icon`              AS `icon`,
            c.`url`               AS `url`,
            c.`description`       AS `description`,
            c.`latitude`          AS `location_latitude`,
            c.`longitude`         AS `location_longitude`,
            c.`predefined`        AS `predefined`,
            c.`create_time`       AS `create_time`,
            c.`modify_time`       AS `modify_time`,
            c.`delete_time`       AS `delete_time`
    FROM `city` AS c
    JOIN `province` AS p ON p.`id` = c.`province_id`
  </sql>

  <select id="count" parameterType="map"
    resultType="long" resultSetType="FORWARD_ONLY">
    <include refid="ltd.qubit.commons.dao.mapper.count">
      <property name="table"          value="city"/>
      <property name="alias"          value="c"/>
      <property name="sql"            value="selectCity"/>
    </include>
  </select>

  <select id="list" parameterType="map"
    resultMap="CityResultMap" resultSetType="FORWARD_ONLY">
    <include refid="ltd.qubit.commons.dao.mapper.list">
      <property name="sql"            value="selectCity"/>
      <property name="alias"          value="c"/>
    </include>
  </select>

  <select id="exist" parameterType="map"
    resultType="boolean" resultSetType="FORWARD_ONLY">
    <include refid="ltd.qubit.commons.dao.mapper.exist">
      <property name="table"          value="city"/>
    </include>
  </select>

  <select id="existNonDeleted" parameterType="map"
    resultType="boolean" resultSetType="FORWARD_ONLY">
    <include refid="ltd.qubit.commons.dao.mapper.existNonDeleted">
      <property name="table"          value="city"/>
    </include>
  </select>

  <select id="existCode" parameterType="map"
    resultType="boolean" resultSetType="FORWARD_ONLY">
    <include refid="ltd.qubit.commons.dao.mapper.existCode">
      <property name="table"          value="city"/>
    </include>
  </select>

  <select id="existName" parameterType="map"
    resultType="boolean" resultSetType="FORWARD_ONLY">
    <include refid="ltd.qubit.commons.dao.mapper.existParentName">
      <property name="table"          value="city"/>
      <property name="parentTable"    value="province"/>
      <property name="parentIdColumn" value="province_id"/>
    </include>
  </select>

  <select id="get" parameterType="map"
    resultMap="CityResultMap" resultSetType="FORWARD_ONLY">
    <include refid="ltd.qubit.commons.dao.mapper.get">
      <property name="sql"            value="selectCity"/>
      <property name="alias"          value="c"/>
    </include>
  </select>

  <select id="getByCode" parameterType="map"
    resultMap="CityResultMap" resultSetType="FORWARD_ONLY">
    <include refid="ltd.qubit.commons.dao.mapper.getByCode">
      <property name="sql"            value="selectCity"/>
      <property name="alias"          value="c"/>
    </include>
  </select>

  <select id="getByName" parameterType="map"
    resultMap="CityResultMap" resultSetType="FORWARD_ONLY">
    <include refid="ltd.qubit.commons.dao.mapper.getByParentName">
      <property name="sql"            value="selectCity"/>
      <property name="alias"          value="c"/>
      <property name="parentAlias"    value="p"/>
    </include>
  </select>

  <select id="getInfo" parameterType="map"
    resultMap="ltd.qubit.commons.dao.mapper.InfoResultMap"
    resultSetType="FORWARD_ONLY">
    <include refid="ltd.qubit.commons.dao.mapper.getInfo">
      <property name="table"          value="city"/>
    </include>
  </select>

  <select id="getInfoByCode" parameterType="map"
    resultMap="ltd.qubit.commons.dao.mapper.InfoResultMap"
    resultSetType="FORWARD_ONLY">
    <include refid="ltd.qubit.commons.dao.mapper.getInfoByCode">
      <property name="table"          value="city"/>
    </include>
  </select>

  <select id="getInfoByName" parameterType="map"
    resultMap="ltd.qubit.commons.dao.mapper.InfoResultMap"
    resultSetType="FORWARD_ONLY">
    <include refid="ltd.qubit.commons.dao.mapper.getInfoByParentName">
      <property name="table"          value="city"/>
      <property name="parentTable"    value="province"/>
      <property name="parentIdColumn" value="province_id"/>
    </include>
  </select>

  <select id="getIdByCode" parameterType="map"
    resultType="Long" resultSetType="FORWARD_ONLY">
    <include refid="ltd.qubit.commons.dao.mapper.getIdByCode">
      <property name="table"          value="city"/>
    </include>
  </select>

  <select id="getIdByName" parameterType="map"
    resultType="Long" resultSetType="FORWARD_ONLY">
    <include refid="ltd.qubit.commons.dao.mapper.getIdByParentName">
      <property name="table"          value="city"/>
      <property name="parentTable"    value="province"/>
      <property name="parentIdColumn" value="province_id"/>
    </include>
  </select>

  <insert id="add" parameterType="ltd.qubit.model.contact.City">
    INSERT INTO `city` (
        `id`,
        `code`,
        `name`,
        `province_id`,
        `postalcode`,
        `level`,
        `phone_area`,
        `icon`,
        `url`,
        `description`,
        `latitude`,
        `longitude`,
        `predefined`,
        `create_time`
    ) VALUES (
        #{id},
        #{code},
        #{name},
        #{province.id},
        #{postalcode},
        #{level},
        #{phoneArea},
        #{icon},
        #{url},
        #{description},
        #{location.latitude},
        #{location.longitude},
        #{predefined},
        #{createTime}
    )
  </insert>

  <sql id="updateCity">
    UPDATE `city`
    SET   `name`          = #{name},
          `province_id`   = #{province.id},
          `postalcode`    = #{postalcode},
          `level`         = #{level},
          `phone_area`    = #{phoneArea},
          `icon`          = #{icon},
          `url`           = #{url},
          `description`   = #{description},
          `latitude`      = #{location.latitude},
          `longitude`     = #{location.longitude},
          `predefined`    = #{predefined},
          `modify_time`   = #{modifyTime}
  </sql>

  <update id="update" parameterType="ltd.qubit.model.contact.City">
    <include refid="ltd.qubit.commons.dao.mapper.updateNonDeleted">
      <property name="sql" value="updateCity"/>
    </include>
  </update>

  <update id="updateByCode" parameterType="ltd.qubit.model.contact.City">
    <include refid="ltd.qubit.commons.dao.mapper.updateNonDeletedByCode">
      <property name="sql" value="updateCity"/>
    </include>
  </update>

  <update id="updateByName" parameterType="ltd.qubit.model.contact.City">
    <include refid="ltd.qubit.commons.dao.mapper.updateNonDeletedByParentName">
      <property name="sql"              value="updateCity"/>
      <property name="parentIdColumn"   value="province_id"/>
      <property name="parentIdProperty" value="province.id"/>
    </include>
  </update>

  <update id="delete" parameterType="map">
    <include refid="ltd.qubit.commons.dao.mapper.delete">
      <property name="table"          value="city"/>
    </include>
  </update>

  <update id="deleteByCode" parameterType="map">
    <include refid="ltd.qubit.commons.dao.mapper.deleteByCode">
      <property name="table"          value="city"/>
    </include>
  </update>

  <update id="deleteByName" parameterType="map">
    <include refid="ltd.qubit.commons.dao.mapper.deleteByParentName">
      <property name="table"          value="city"/>
      <property name="parentIdColumn" value="province_id"/>
    </include>
  </update>

  <update id="restore" parameterType="map">
    <include refid="ltd.qubit.commons.dao.mapper.restore">
      <property name="table"          value="city"/>
    </include>
  </update>

  <update id="restoreByCode" parameterType="map">
    <include refid="ltd.qubit.commons.dao.mapper.restoreByCode">
      <property name="table"          value="city"/>
    </include>
  </update>

  <update id="restoreByName" parameterType="map">
    <include refid="ltd.qubit.commons.dao.mapper.restoreByParentName">
      <property name="table"          value="city"/>
      <property name="parentIdColumn" value="province_id"/>
    </include>
  </update>

  <delete id="purge" parameterType="map">
    <include refid="ltd.qubit.commons.dao.mapper.purge">
      <property name="table"          value="city"/>
    </include>
  </delete>

  <delete id="purgeByCode" parameterType="map">
    <include refid="ltd.qubit.commons.dao.mapper.purgeByCode">
      <property name="table"          value="city"/>
    </include>
  </delete>

  <delete id="purgeByName" parameterType="map">
    <include refid="ltd.qubit.commons.dao.mapper.purgeByParentName">
      <property name="table"          value="city"/>
      <property name="parentIdColumn" value="province_id"/>
    </include>
  </delete>

  <delete id="purgeAll">
    <include refid="ltd.qubit.commons.dao.mapper.purgeAll">
      <property name="table"          value="city"/>
    </include>
  </delete>

  <update id="erase" parameterType="map">
    <include refid="ltd.qubit.commons.dao.mapper.erase">
      <property name="table"          value="city"/>
    </include>
  </update>

  <update id="eraseByCode" parameterType="map">
    <include refid="ltd.qubit.commons.dao.mapper.eraseByCode">
      <property name="table"          value="city"/>
    </include>
  </update>

  <delete id="eraseByName" parameterType="map">
    <include refid="ltd.qubit.commons.dao.mapper.eraseByParentName">
      <property name="table"          value="city"/>
      <property name="parentIdColumn" value="province_id"/>
    </include>
  </delete>

  <delete id="clear">
    <include refid="ltd.qubit.commons.dao.mapper.clear">
      <property name="table"          value="city"/>
    </include>
  </delete>
</mapper>
