<?xml version="1.0" encoding="UTF-8"?>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  ~
  ~    Copyright (c) 2022 - 2023.
  ~    Haixing Hu, Qubit Co. Ltd.
  ~
  ~    All rights reserved.
  ~
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ltd.qubit.commons.dao.testbed.mapper.CredentialMapper">

  <resultMap id="CredentialResultMap" type="ltd.qubit.model.commons.Credential">
    <id property="id"                   column="id"/>
    <result property="type"             column="type"/>
    <result property="number"           column="number"/>
    <result property="verified"         column="verified"/>
    <result property="owner.type"       column="owner_type"/>
    <result property="owner.id"         column="owner_id"/>
    <result property="owner.property"   column="owner_property"/>
    <result property="index"            column="index"/>
    <result property="title"            column="title"/>
    <result property="description"      column="description"/>
    <result property="createTime"       column="create_time"/>
    <result property="modifyTime"       column="modify_time"/>
    <result property="deleteTime"       column="delete_time"/>
    <collection property="attachments"  javaType="ArrayList"
                ofType="ltd.qubit.model.upload.Attachment"
                column="{owner.type=credential_type_name, owner.id=id, owner.property=attachments_property_name}"
                select="ltd.qubit.commons.dao.testbed.mapper.AttachmentMapper.getForOwner"/>
  </resultMap>

  <sql id="selectCredential">
    SELECT  c.`id`                AS `id`,
            c.`type`              AS `type`,
            c.`number`            AS `number`,
            c.`verified`          AS `verified`,
            c.`owner_type`        AS `owner_type`,
            c.`owner_id`          AS `owner_id`,
            c.`owner_property`    AS `owner_property`,
            c.`index`             AS `index`,
            c.`title`             AS `title`,
            c.`description`       AS `description`,
            c.`create_time`       AS `create_time`,
            c.`modify_time`       AS `modify_time`,
            c.`delete_time`       AS `delete_time`,
            'CREDENTIAL'          AS `credential_type_name`,
            'ATTACHMENTS'         AS `attachments_property_name`
    FROM `credential` AS c
  </sql>

  <select id="count" parameterType="map"
    resultType="long" resultSetType="FORWARD_ONLY">
    <include refid="ltd.qubit.commons.dao.mapper.count">
      <property name="table"  value="credential"/>
      <property name="alias"  value="c"/>
      <property name="sql"    value="selectCredential"/>
    </include>
  </select>

  <select id="list" parameterType="map"
    resultMap="CredentialResultMap" resultSetType="FORWARD_ONLY">
    <include refid="ltd.qubit.commons.dao.mapper.list">
      <property name="sql"    value="selectCredential"/>
      <property name="alias"  value="c"/>
    </include>
  </select>

  <select id="countForOwner" parameterType="map"
    resultType="long" resultSetType="FORWARD_ONLY">
    <include refid="ltd.qubit.commons.dao.mapper.countNonDeletedForOwner">
      <property name="table" value="credential"/>
    </include>
  </select>

  <select id="getForOwner" parameterType="map"
    resultMap="CredentialResultMap" resultSetType="FORWARD_ONLY">
    <include refid="ltd.qubit.commons.dao.mapper.getNonDeletedForOwner">
      <property name="sql" value="selectCredential"/>
      <property name="alias" value="c"/>
    </include>
  </select>

  <select id="getIdForOwner" parameterType="map"
    resultType="long" resultSetType="FORWARD_ONLY">
    <include refid="ltd.qubit.commons.dao.mapper.getNonDeletedIdForOwner">
      <property name="table" value="credential"/>
    </include>
  </select>

  <select id="exist" parameterType="map"
    resultType="boolean" resultSetType="FORWARD_ONLY">
    <include refid="ltd.qubit.commons.dao.mapper.exist">
      <property name="table" value="credential"/>
    </include>
  </select>

  <select id="existNonDeleted" parameterType="map"
    resultType="boolean" resultSetType="FORWARD_ONLY">
    <include refid="ltd.qubit.commons.dao.mapper.existNonDeleted">
      <property name="table" value="credential"/>
    </include>
  </select>

  <select id="get" parameterType="map"
    resultMap="CredentialResultMap" resultSetType="FORWARD_ONLY">
    <include refid="ltd.qubit.commons.dao.mapper.get">
      <property name="sql" value="selectCredential"/>
      <property name="alias" value="c"/>
    </include>
  </select>

  <select id="getByIndex" parameterType="map"
    resultMap="CredentialResultMap" resultSetType="FORWARD_ONLY">
    <include refid="selectCredential"/>
    WHERE c.`index`           = #{index}
      AND c.`owner_id`        = #{owner.id}
      AND c.`owner_type`      = #{owner.type}
      AND c.`owner_property`  = #{owner.property}
    LIMIT 1
  </select>

  <select id="getInfo" parameterType="map"
    resultMap="ltd.qubit.commons.dao.mapper.CredentialInfoResultMap"
    resultSetType="FORWARD_ONLY">
    SELECT
      <include refid="ltd.qubit.commons.dao.mapper.selectColumnCredentialInfo">
        <property name="alias" value="c"/>
        <property name="columnPrefix" value=""/>
        <property name="asPrefix" value=""/>
      </include>
    1 FROM `credential` AS c     <!-- 加上 1 解决上述include片段最后一个逗号问题 -->
    WHERE c.`id` = #{id}
    LIMIT 1
  </select>

  <select id="getInfoForOwner" parameterType="map"
    resultMap="ltd.qubit.commons.dao.mapper.CredentialInfoResultMap"
    resultSetType="FORWARD_ONLY">
    SELECT
    <include refid="ltd.qubit.commons.dao.mapper.selectColumnCredentialInfo">
      <property name="alias" value="c"/>
      <property name="columnPrefix" value=""/>
      <property name="asPrefix" value=""/>
    </include>
    1 FROM `credential` AS c     <!-- 加上 1 解决上述include片段最后一个逗号问题 -->
    <include refid="ltd.qubit.commons.dao.mapper.filterNonDeletedByOwner">
      <property name="alias" value="c"/>
    </include>
    ORDER BY c.`owner_type`, c.`owner_id`, c.`owner_property`, c.`index` ASC
  </select>

  <insert id="add" parameterType="ltd.qubit.model.commons.Credential">
    INSERT INTO `credential` (
        `id`,
        `type`,
        `number`,
        `verified`,
        `owner_type`,
        `owner_id`,
        `owner_property`,
        `index`,
        `title`,
        `description`,
        `create_time`
    ) VALUES (
        #{id},
        #{type},
        #{number},
        #{verified},
        #{owner.type},
        #{owner.id},
        #{owner.property},
        #{index},
        #{title},
        #{description},
        #{createTime}
    )
  </insert>

  <sql id="updateCredential">
    UPDATE `credential`
    SET   `type`          = #{type},
          `number`        = #{number},
          `verified`      = #{verified},
          `index`         = #{index},
          `title`         = #{title},
          `description`   = #{description},
          `modify_time`   = #{modifyTime}
  </sql>

  <update id="update" parameterType="ltd.qubit.model.commons.Credential">
    <include refid="ltd.qubit.commons.dao.mapper.updateNonDeleted">
      <property name="sql" value="updateCredential"/>
    </include>
  </update>

  <update id="updateByOwner" parameterType="ltd.qubit.model.commons.Credential">
    <include refid="updateCredential"/>
    WHERE `owner_id`        = #{owner.id}
      AND `owner_type`      = #{owner.type}
      AND `owner_property`  = #{owner.property}
      AND `delete_time` IS NULL
  </update>

  <update id="updateVerify" parameterType="map">
    <include refid="ltd.qubit.commons.dao.mapper.updateNonDeletedVerified">
      <property name="table" value="credential"/>
    </include>
  </update>

  <update id="updateModifyTime" parameterType="map">
    <include refid="ltd.qubit.commons.dao.mapper.updateModifyTime">
      <property name="table" value="credential"/>
    </include>
  </update>

  <update id="delete" parameterType="map">
    <include refid="ltd.qubit.commons.dao.mapper.delete">
      <property name="table" value="credential"/>
    </include>
  </update>

  <update id="restore" parameterType="map">
    <include refid="ltd.qubit.commons.dao.mapper.restore">
      <property name="table" value="credential"/>
    </include>
  </update>

  <delete id="purge" parameterType="map">
    <include refid="ltd.qubit.commons.dao.mapper.purge">
      <property name="table" value="credential"/>
    </include>
  </delete>

  <delete id="purgeAll">
    <include refid="ltd.qubit.commons.dao.mapper.purgeAll">
      <property name="table" value="credential"/>
    </include>
  </delete>

  <update id="erase" parameterType="map">
    <include refid="ltd.qubit.commons.dao.mapper.erase">
      <property name="table" value="credential"/>
    </include>
  </update>

  <delete id="clear">
    <include refid="ltd.qubit.commons.dao.mapper.clear">
      <property name="table" value="credential"/>
    </include>
  </delete>

  <update id="deleteForOwner" parameterType="map">
    <include refid="ltd.qubit.commons.dao.mapper.deleteForOwner">
      <property name="table" value="credential"/>
    </include>
  </update>

  <update id="restoreForOwner" parameterType="map">
    <include refid="ltd.qubit.commons.dao.mapper.restoreForOwner">
      <property name="table" value="credential"/>
    </include>
  </update>

  <delete id="purgeForOwner" parameterType="map">
    <include refid="ltd.qubit.commons.dao.mapper.purgeForOwner">
      <property name="table" value="credential"/>
    </include>
  </delete>

  <delete id="eraseForOwner">
    <include refid="ltd.qubit.commons.dao.mapper.eraseForOwner">
      <property name="table" value="credential"/>
    </include>
  </delete>
</mapper>
