<?xml version="1.0" encoding="UTF-8"?>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  ~
  ~    Copyright (c) 2022 - 2023.
  ~    Haixing Hu, Qubit Co. Ltd.
  ~
  ~    All rights reserved.
  ~
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ltd.qubit.commons.dao.testbed.mapper.VerifyCodeMapper">

  <resultMap id="VerifyCodeResultMap" type="ltd.qubit.model.system.VerifyCode">
    <id property="id"                   column="id"/>
    <result property="mobile"           column="mobile"/>
    <result property="email"            column="email"/>
    <result property="scene"            column="scene"/>
    <result property="code"             column="code"/>
    <result property="message"          column="message"/>
    <result property="verified"         column="verified"/>
    <result property="createTime"       column="create_time"/>
    <association property="app"
      javaType="ltd.qubit.commons.model.StatefulInfo"
      resultMap="ltd.qubit.commons.dao.mapper.StatefulInfoResultMap"
      columnPrefix="app_"/>
  </resultMap>

  <sql id="selectVerifyCode">
    SELECT  v.`id`                            AS `id`,
            <include refid="ltd.qubit.commons.dao.mapper.selectColumnStatefulInfo">
              <property name="alias"          value="a"/>
              <property name="columnPrefix"   value=""/>
              <property name="asPrefix"       value="app_"/>
            </include>
            v.`mobile`                        AS `mobile`,
            v.`email`                         AS `email`,
            v.`scene`                         AS `scene`,
            v.`code`                          AS `code`,
            v.`message`                       AS `message`,
            v.`verified`                      AS `verified`,
            v.`create_time`                   AS `create_time`
    FROM `verify_code` AS v
    JOIN `app` AS a ON a.`id` = v.`app_id`
  </sql>

  <select id="count" parameterType="map"
    resultType="long" resultSetType="FORWARD_ONLY">
    <include refid="ltd.qubit.commons.dao.mapper.count">
      <property name="table"  value="verify_code"/>
      <property name="alias"  value="v"/>
      <property name="sql"    value="selectVerifyCode"/>
    </include>
  </select>

  <select id="list" parameterType="map"
    resultMap="VerifyCodeResultMap" resultSetType="FORWARD_ONLY">
    <include refid="ltd.qubit.commons.dao.mapper.list">
      <property name="sql"    value="selectVerifyCode"/>
      <property name="alias"  value="v"/>
    </include>
  </select>

  <select id="exist" parameterType="map"
    resultType="boolean" resultSetType="FORWARD_ONLY">
    <include refid="ltd.qubit.commons.dao.mapper.exist">
      <property name="table" value="verify_code"/>
    </include>
  </select>

  <select id="get" parameterType="map"
    resultMap="VerifyCodeResultMap" resultSetType="FORWARD_ONLY">
    <include refid="ltd.qubit.commons.dao.mapper.get">
      <property name="sql" value="selectVerifyCode"/>
      <property name="alias" value="v"/>
    </include>
  </select>

  <insert id="add" parameterType="ltd.qubit.model.system.VerifyCode">
    INSERT INTO `verify_code` (
        `id`,
        `app_id`,
        `mobile`,
        `email`,
        `scene`,
        `code`,
        `message`,
        `verified`,
        `create_time`
    ) VALUES (
        #{id},
        #{app.id},
        #{mobile},
        #{email},
        #{scene},
        #{code},
        #{message},
        #{verified},
        #{createTime}
    )
  </insert>

  <update id="updateVerified" parameterType="map">
    UPDATE `verify_code`
    SET   `verified`  = #{verified}
    WHERE `id`        = #{id}
  </update>

  <delete id="erase">
    <include refid="ltd.qubit.commons.dao.mapper.erase">
      <property name="table" value="verify_code"/>
    </include>
  </delete>

  <delete id="clear">
    <include refid="ltd.qubit.commons.dao.mapper.clear">
      <property name="table" value="verify_code"/>
    </include>
  </delete>
</mapper>
