<?xml version="1.0" encoding="UTF-8"?>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  ~
  ~    Copyright (c) 2022 - 2023.
  ~    Haixing Hu, Qubit Co. Ltd.
  ~
  ~    All rights reserved.
  ~
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

<configuration>
  <!-- Defines the console appender -->
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{30} - %msg%n</pattern>
    </encoder>
  </appender>
  <!-- Control the log level -->
  <logger name="druid.sql" level="INFO"/>
  <logger name="com.alibaba.druid" level="INFO"/>
  <logger name="com.github.dockerjava.zerodep" level="INFO"/>
  <logger name="org.flywaydb" level="WARN"/>
  <logger name="ltd.qubit" level="INFO"/>
  <logger name="ltd.qubit.commons.dao" level="INFO"/>
  <logger name="ltd.qubit.commons.dao.mapper" level="INFO"/>
  <logger name="ltd.qubit.commons.test" level="INFO"/>
  <logger name="ltd.qubit.commons.dao.testbed" level="INFO"/>
  <logger name="ltd.qubit.commons.dao.testbed.impl" level="INFO"/>
  <logger name="ltd.qubit.commons.dao.testbed.mapper" level="INFO"/>
  <logger name="org.apache.ibatis" level="INFO"/>
  <logger name="org.mybatis.spring.SqlSessionFactoryBean" level="INFO"/>
  <logger name="org.springframework" level="INFO"/>
  <logger name="org.testcontainers" level="INFO"/>
  <root level="INFO">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>
